<section class="section-base how-it-works">
    <div class="bg-violet container how-it-works-conteiner">
        <h2 class="visually-hidden">how it works</h2>
        <div class="works-red">
            <div class="works-red-wrap">
                <picture class="works-red-image">
                    <source media="(min-width: 1280px)" srcset="/src/images/retina/delete_after_add_new_imeges.jpg">
                    <source media="(min-width: 768px)" srcset="">
                    <source media="(min-width: )375px" srcset="">
                    <img class="how-image" src="/src/images/retina/delete_after_add_new_imeges.jpg" alt="">
                </picture>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid, voluptatum aspernatur excepturi
                    quidem dolorem praesentium alias consequuntur illo enim optio autem obcaecati aut in doloribus.
                    Ullam sequi magnam ipsam eveniet!</p>
            </div>
        </div>
        <div class="bg-green works-green-list">
            <div class="works-conteiner">
                <h3 class="works-title">
                    To order your <span>vegetable</span> basket, simply follow these <span>easy steps</span>
                </h3>
                <p class="works-text">Our baskets are assembled with care and delivered straight to your doorstep, so
                    you can enjoy the taste of fresh fruit
                    without ever leaving your home.
                </p>
                <ol class="works-list">
                    <li class="works-item">
                        <div class="works-number-border">
                            <div class="works-number-wrap">
                                <p class="works-item-number">1</p>
                            </div>
                        </div>
                        <p class="works-item-text">
                            Just choose <span>the vegetable</span> you want to order by clicking on the checkboxes
                            <span>next to it</span>.
                        </p>
                    </li>
                    <li class="works-item">
                        <div class="works-number-border">
                            <div class="works-number-wrap">
                                <p class="works-item-number">2</p>
                            </div>
                        </div>
                        <p class="works-item-text">
                            Click on <span>the basket</span> and fill out the form.
                        </p>
                    </li>
                    <li class="works-item">
                        <div class="works-number-border">
                            <div class="works-number-wrap">
                                <p class="works-item-number">3</p>
                            </div>
                        </div>
                        <p class="works-item-text">
                            Sit back and relax! Your <span>fresh vegetables</span> basket will be delivered.
                        </p>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>