<section class="section-base bg-violet">
  <div class="container">
    <div class="container-txt-vebetables">
      <h2 class="title-vegetables">
        organic <span class="accent-title-veg">vegetables</span>
      </h2>
      <p class="txt-vegetables">
        Our organic vegetables are hand-picked from local farms and delivered
        straight to your doorstep, ensuring that you get the freshest and most
        nutritious produce possible.
      </p>
    </div>

    <ul class="container-card-veg">
      <li class="card-veg">
        <div class="content-card-veg">
          <h3 class="title-card-veg">eggplant</h3>
          <p class="price-veg">60 USD / kg</p>
          <img class="img-vegetables" src="" alt="" />
        </div>
      </li>
      <li class="card-veg">
        <div class="content-card-veg">
          <h3 class="title-card-veg">leek</h3>
          <p class="price-veg">50 USD / kg</p>
          <img class="img-vegetables" src="" alt="" />
        </div>
      </li>
      <li class="card-veg">
        <div class="content-card-veg">
          <h3 class="title-card-veg">mushrooms</h3>
          <p class="price-veg">40 USD / kg</p>
          <img class="img-vegetables" src="" alt="" />
        </div>
      </li>
      <li class="card-veg">
        <div class="content-card-veg">
          <h3 class="title-card-veg">corn</h3>
          <p class="price-veg">60 USD / kg</p>
          <img class="img-vegetables" src="" alt="" />
        </div>
      </li>
      <li class="card-veg">
        <div class="content-card-veg">
          <h3 class="title-card-veg">sweet potatoes</h3>
          <p class="price-veg">50 USD / kg</p>
          <img class="img-vegetables" src="" alt="" />
        </div>
      </li>
      <li class="card-veg">
        <div class="content-card-veg">
          <h3 class="title-card-veg">carrot</h3>
          <p class="price-veg">40 USD / kg</p>
          <img class="img-vegetables" src="" alt="" />
        </div>
      </li>
    </ul>
  </div>
</section>
