<section class="section-base bg-violet">
  <div class="container">
    <h2 class="title-vegetables">
      organic <span class="accent-title-veg">vegetables</span>
    </h2>
    <p class="txt-vegetables">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>

    <ul class="container-card-veg">
      <li class="card-veg">
        <div class="content-card-veg">
          <h3 class="title-card-veg">eggplant</h3>
          <p class="price-veg">60 USD / kg</p>
          <img
            class="img-vegetables"
            srcset="
              ../images/vegetables/eggplant.png    1x,
              ../images/vegetables/eggplant@2x.png 2x
            "
            src="../images/vegetables/eggplant.png"
            alt="eggplant"
          />
        </div>
      </li>
      <li class="card-veg">
        <div class="content-card-veg">
          <h3 class="title-card-veg">leek</h3>
          <p class="price-veg">50 USD / kg</p>
          <img
            class="img-vegetables"
            srcset="
              ../images/vegetables/leek.png    1x,
              ../images/vegetables/leek@2x.png 2x
            "
            src="../images/vegetables/leek.png"
            alt="leek"
          />
        </div>
      </li>
      <li class="card-veg">
        <div class="content-card-veg">
          <h3 class="title-card-veg">mushrooms</h3>
          <p class="price-veg">40 USD / kg</p>
          <img
            class="img-vegetables"
            srcset="
              ../images/vegetables/mushrooms.png   1x,
              ../images/vegetables/mushrooms2x.png 2x
            "
            src="../images/vegetables/mushrooms.png"
            alt="mushrooms"
          />
        </div>
      </li>
      <li class="card-veg">
        <div class="content-card-veg">
          <h3 class="title-card-veg">corn</h3>
          <p class="price-veg">60 USD / kg</p>
          <img
            class="img-vegetables"
            srcset="
              ../images/vegetables/corn.png    1x,
              ../images/vegetables/corn@2x.png 2x
            "
            src="../images/vegetables/corn.png"
            alt="corn"
          />
        </div>
      </li>
      <li class="card-veg">
        <div class="content-card-veg">
          <h3 class="title-card-veg">sweet potatoes</h3>
          <p class="price-veg">50 USD / kg</p>
          <img
            class="img-vegetables"
            srcset="
              ../images/vegetables/sweet-potatoes.png    1x,
              ../images/vegetables/sweet-potatoes@2x.png 2x
            "
            src="../images/vegetables/sweet-potatoes.png"
            alt="sweet-potatoes"
          />
        </div>
      </li>
      <li class="card-veg">
        <div class="content-card-veg">
          <h3 class="title-card-veg">carrot</h3>
          <p class="price-veg">40 USD / kg</p>
          <img
            class="img-vegetables"
            srcset="
              ../images/vegetables/carrot.png    1x,
              ../images/vegetables/carrot@2x.png 2x
            "
            src="../images/vegetables/carrot.png"
            alt="carrot"
          />
        </div>
      </li>
    </ul>
  </div>
</section>
