<section class="section-base">
    <div class="container reviews-container">
        <h2 class="reviews-title" id="reviews">reviews from our <span class="reviews-title-span">customers</span></h2>
        <p class="reviews-p">Words of our customers: impressions and opinions about the quality of our services and the
            freshness of our
            products.</p>
        <ul class="reviews-items">
            <li class="reviews-list ">
                <!-- <li class="reviews-list reviews-hidden-1"> -->
                <picture>
                    <source srcset="/images/reviews/john-wax@2x.webp" media="(min-resolution: 192dpi)">
                    <source srcset="/images/reviews/john-wax.webp" media="(max-resolution: 191dpi)">
                    <img src="/images/reviews/john-wax.webp" alt="John Wax" class="reviews-img" width="56" height="56">
                </picture>
                <h3 class="reviews-list-title">John Wax</h3>
                <p class="reviews-list-p">These vegetables are my secret to delicious and healthy meals. The quality
                    is always at the
                    highest level, the aroma and
                    taste are enchanting. I advise every fan of real products!</p>
            </li>
            <li class="reviews-list ">
                <!-- <li class="reviews-list reviews-hidden-2"> -->
                <picture>
                    <source srcset="/images/reviews/victoria-romashenko@2x.webp" media="(min-resolution: 192dpi)">
                    <source srcset="/images/reviews/victoria-romashenko.webp" media="(max-resolution: 191dpi)">
                    <img src="/images/reviews/victoria-romashenko.webp" alt="Victoria Romashenko" class="reviews-img"
                        width="56" height="56">
                </picture>
                <h3 class="reviews-list-title">Victoria Romashenko</h3>
                <p class="reviews-list-p">I love how fast and fresh the vegetables are delivered. Salads always turn
                    out so appetizing, and soups are real
                    masterpieces. The quality is impeccable!</p>
            </li>
            <li class="reviews-list ">
                <!-- <li class="reviews-list reviews-hidden-3"> -->
                <picture>
                    <source srcset="/images/reviews/ihor-trachuk@2x.webp" media="(min-resolution: 192dpi)">
                    <source srcset="/images/reviews/ihor-trachuk.webp" media="(max-resolution: 191dpi)">
                    <img src="/images/reviews/ihor-trachuk.webp" alt="Ihor Trachuk" class="reviews-img" width="56"
                        height="56">
                </picture>
                <h3 class="reviews-list-title">Ihor Trachuk</h3>
                <p class="reviews-list-p">Recently tried my fresh tomatoes and peppers - amazing! The authenticity
                    of the taste, as if from the garden directly to
                    my table. It is now my main vegetable supplier.</p>
            </li>
        </ul>
    </div>
</section>