<section class="section-base order-section">
  <div class="container your-order-container">
    <div class="order-title-wrapper">
      <h2 class="order-section-title">
        Fresh <span class="title-part">Harvest</span> Box has got you covered
      </h2>
      <p class="order-text">
        Our boxes are packed with delicious, nutritious vegetables, perfect for
        anyone looking to eat healthier or support local farmers. Order your box
        today and start enjoying the best that nature has to offer!
      </p>
    </div>
    <div class="desktop-wrapper">
      <div class="order-form-wrapper" id="your-order">
        <p class="order-form-text">
          Ordering <span class="violet-part">from us</span> is quick and easy!
          Fill out <span class="green-part">the form</span> below and we will
          contact you !
        </p>
        <form class="order-form" autocomplete="off">
          <div class="input-wrapper">
            <input
              class="order-form-input"
              type="text"
              name="user-name"
              id="user-name"
              placeholder="Full name"
              pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
              required
            />
          </div>
          <div class="input-wrapper">
            <input
              class="order-form-input"
              type="email"
              name="user-email"
              id="user-email"
              placeholder="Email"
              pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
              required
            />
          </div>
          <div class="textarea-wrapper">
            <textarea
              class="order-comment"
              placeholder="Comment"
              id="user-comment"
            ></textarea>
          </div>

          <button class="order-btn" type="submit">SEND</button>
        </form>
      </div>
      <div class="order-social-net">
        <picture>
          <source
            srcset="
              /images/order/desktop-order.webp    1x,
              /images/order/desktop-order@2x.webp 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              /images/order/tablet-order.webp    1x,
              /images/order/tablet-order@2x.webp 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              /images/order/mobile-order.webp    1x,
              /images/order/mobile-order@2x.webp 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="your-order-img"
            src="/images/mobile-order.webp"
            alt="Cooking"
          />
        </picture>
        <p class="order-social-net-text">Follow us on our social networks:</p>
        <ul class="order-social-net-list">
          <li class="order-social-net-item">
            <a
              class="order-social-net-link"
              href="https://www.instagram.com/goitclub/ "
              target="_blank"
              >instagram /
            </a>
          </li>
          <li class="order-social-net-item">
            <a
              class="order-social-net-link"
              href="https://www.facebook.com/goITclub/"
              target="_blank"
              >facebook /
            </a>
          </li>
          <li class="order-social-net-item">
            <a
              class="order-social-net-link"
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
              >youtube
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
