<section class="section-base">
  <div class="container">
    <div class="order-title-wrapper">
      <h2 class="order-section-title">
        Fresh <span class="title-part">Harvest</span> Box has got you covered
      </h2>
      <p class="order-text">
        Our boxes are packed with delicious, nutritious vegetables, perfect for
        anyone looking to eat healthier or support local farmers. Order your box
        today and start enjoying the best that nature has to offer!
      </p>
    </div>
    <div class="order-form-wrapper">
      <p class="order-form-text">
        Ordering <span class="violet-part">from us</span> is quick and easy!
        Fill out <span class="green-part">the form</span> below and we will
        contact you !
      </p>
      <form class="" autocomplete="off">
        <div>
          <input
            class="order-form-input"
            type="text"
            name="user-name"
            placeholder="Full name"
            pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
            required
          />
        </div>
        <div>
          <input
            class="order-form-input"
            type="email"
            name="user-email"
            placeholder="Email"
            pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
            required
          />
        </div>
        <div>
          <textarea class="order-comment" type="text">Comment</textarea>
        </div>

        <button class="order-btn" type="submit">SEND</button>
      </form>
    </div>
    <div class="order-social-net">
      <img src="" alt="" />
      <p class="order-social-net-text">Follow us on our social networks:</p>
      <ul class="order-social-net-text-list">
        <li class="order-social-net-text-item" target="_blank">instagram /</li>
        <li class="order-social-net-text-item" target="_blank">facebook /</li>
        <li class="order-social-net-text-item" target="_blank">youtube</li>
      </ul>
    </div>
  </div>
</section>
