<div class="overlay" id="overlay-menu">
  <div class="container menu-container" id="mobile-menu">
    <button class="menu-close-btn" id="menu-close-btn" type="button">
      <svg class="menu-close-icon">
        <use href="/images/sprite.svg#icon-greenharvest"></use>
      </svg>
    </button>
    <nav class="menu-header-nav">
      <ul class="menu-header-nav-list">
        <li class="header-nav-item">
          <a class="header-nav-link" href="#how-it-works">How It Works</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#vegetables">Vegetables</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#reviews">Reviews</a>
        </li>
      </ul>
    </nav>

    <button class="menu-shop-btn" type="button">Shop now</button>
  </div>
</div>
