/*my sprite is correct */

.header-container {
  display: flex;
  justify-content: space-between;
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 20px;
  /* font-family: 'Inter Tight', sans-serif; */
  color: #e41111;
}
/* background-color: transparent;*/

@media screen and (min-width: 768px) {
  .header-container {
    max-width: 768px;
    padding: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .header-container {
    display: block;

    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding: 44px 100px;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-icon {
  fill: #fbfbfb;
  margin-right: 8px;
}

.logo-text {
  fill: #fbfbfb;
}

.burger-btn {
  border: none;
  background: transparent;
  padding: 0;
}

.burger-icon {
  display: block;
  stroke: #fbfbfb;
}

.menu-button {
  display: none;
}

@media screen and (min-width: 768px) {
  .logo-icon {
    width: 18px;
    height: 18px;
  }
  .logo-text {
    width: 168px;
    height: 15px;
  }
  .burger-icon {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .menu-button {
    display: flex;
  }
  .burger-btn {
    display: none;
  }

  .div-menu {
    display: flex;
  }
  .menu-list {
    display: flex;
    gap: 8px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
  }

  .menu-item {
    border: 1px solid rgba(251, 251, 251, 0.4);
    border-radius: 12px;
    padding: 12px;
    /* font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em; */
    text-align: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-item:hover,
  .menu-item:focus {
    border: 1px solid #622133;
    background-color: rgba(251, 251, 251, 0.3);
  }

  .menu-link {
    padding-top: 13px;
    padding-bottom: 13px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-link:hover,
  .menu-link:focus {
    color: #622133;
  }

  .button {
    border: none;
    /* border-radius: 30px; */
    padding: 16px 32px;
    background-color: #7a3145;
    /* font-weight: 600; */
    font-size: 18px;
    line-height: 1.11111;
    /* letter-spacing: -0.01em;
    text-transform: uppercase; */
    color: #fbfbfb;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .button:hover,
  .button:focus {
    background-color: #622133;
  }
}
