.section-base {
    padding-top: 0;
}

.hero-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.h2text-container {
    margin: 100px auto 40px auto;
}

.hero-title {
    max-width: 335px;
    font-weight: 600;
    font-size: 48px;
    line-height: 1;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;
    margin-bottom: 20px;
}

.hero-text {
    max-width: 335px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    color: #fbfbfb;
    letter-spacing: 0;
}

.image-content {
    flex: 1;
    background-repeat: no-repeat;
    background-image: url(/images/hero/mobile-hero.webp), linear-gradient(rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2));
    min-height: 370px;
    background-position: center;
    background-size: cover;



}

@media only screen and (min-resolution: 192dpi) {
    .image-content {
        background-image: url(/images/hero/mobile-hero@2x.webp), linear-gradient(rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2));
        background-size: cover;
    }
}

@media only screen and (min-width: 768px) {

    .hero-title {
        font-size: 76px;
        letter-spacing: -0.01em;
        max-width: 704px;
        margin-bottom: 25px;
    }

    .h2text-container {
        max-width: 704px;
        margin: 122px auto 50px auto;
    }



    .hero-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.25;
        max-width: 603px;
    }

    .image-content {
        background-image: url(/images/hero/tablet-hero.webp),
            linear-gradient(rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2));
        min-height: 539px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
}



@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {


    .image-content {
        background-image: url(/images/hero/tablet-hero@2x.webp),
            linear-gradient(rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2));
    }

}

@media only screen and (min-width: 1280px) {
    .hero-container {
        flex-direction: row;
        max-width: 1280px;
    }

    .h2text-container {
        margin: 238px 28px 50px 100px;
    }

    .hero-title {
        margin-bottom: 128px;
        max-width: 502px;
    }


    .hero-text {
        max-width: 472px;

    }

    .image-content {
        flex: 1;
        background-image: url(/images/hero/desktop-hero.webp),
            linear-gradient(rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2));
        background-size: cover;
        max-width: 650px;
    }
}

@media only screen and (min-width: 1280px) and (min-resolution: 192dpi) {
    .image-content {
        background-image: url(/images/hero/desktop-hero@2x.webp),
            linear-gradient(rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2));
    }
}