.section-base {
    padding-top: 0;
}

.how-it-works-container {
    width: 100%;
}

/* 1 div photo */
.works-red {
    width: 100%;
    padding: 40px 0;
    background: #7a3145;
}

/* 2 div photo */
.how-red-back {
    position: relative;
    width: calc(100% - 40px);
    margin: 0 auto;
    border-radius: 30px;
    overflow: hidden;
}

/* photo */
.works-red-image {
    border-radius: 30px;
    max-width: 100%;
}

/* div 2/1 */
.works-green-list {
    padding-top: 80px; 
}
/* div2/2 */
.works-container {
    margin: 0 auto;
    width: calc(100% - 40px);
}

.works-title {
    font-size: 28px;
    line-height: 1;
    letter-spacing: -.01em;
    text-transform: uppercase;
    color: #fbfbfb;
    max-width: 335px;
    margin-bottom: 20px;
}

.works-title span {
    color: #fbfbfb59;
}

.works-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    max-width: 335px;
    margin-bottom: 40px
}

.how-list {
    list-style: none;
    counter-reset: list-counter;
    padding-left: 0;
}

.how-list li {
    counter-increment: list-counter;
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
 
}

.how-list li::before {
    content: counter(list-counter) "";
    position: absolute;
    font-weight: bold;
}



.how-item {
    padding: 12px 24px;
    background: #fbfbfb;
    border-radius: 15px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 24px;
}

.works-number-border {
    width: 52px;
    height: 52px;
    background-color: #7a31444d;
    border-radius: 50%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.works-number-wrap {
    width: 42px;
    height: 42px;
    background-color: #7a3145;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.how-item-num {
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
    letter-spacing: -.02em;
    color: #fbfbfb;
    margin: 0;
    text-align: center;
}

.works-item-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: rgba(20, 20, 20, 0.6);
}

.works-item-text span {
    font-weight: 700;
    color: #141414;
}



@media screen and (min-width: 375px) {
    .works-container,
    .how-red-back {
        width: 335px;
    }
}

@media screen and (min-width: 768px) {
    .works-red {
        padding: 100px 0;
    }

    .how-red-back {
        width: 640px;
    }

    .works-green-list {
        padding-top: 100px;
    }


    .works-container {
        width: 450px;
        padding: 0;
    }

    .works-title {
        font-size: 32px;
        max-width: 450px;
        margin-bottom: 25px;
    }

    .works-text {
        font-size: 16px;
        line-height: 1.25;
        max-width: 450px;
        margin-bottom: 50px
    }

    .how-item-num {
        font-size: 16px;
        line-height: 1.25
    }
}

@media screen and (min-width: 1280px) {
    .section-base {
        padding: 0;
    }

    .how-it-works-container {
        display: flex;
        justify-content: center
    }

    .works-green-list {
        width: 630px;
        padding: 100px;
        display: flex;
        justify-content: flex-end;
    }

    .works-red {
        width: 630px;
        padding: 100px;
        display: flex;
        justify-content: flex-start;
    }

    .how-red-back {
        max-width: 430px;
        margin-left: auto;
    }
}