.advert {
    text-transform: uppercase;
}
.advert-title {
    position: relative;
    display: inline-block;
    max-width: 100%;
    line-height: 1.04;
}
.current-green {
    position: relative;
    z-index: 1;
    color: #FBFBFB;
    display: inline-block;
}
.current-green::before {
    content: '';
    position: absolute;
    top: -3px;
    left: -10px;
    right: -10px;
    bottom: 0;
    max-width: 355px;
    background-color: #576F35;
    border-radius: 12px;
    z-index: -1;
}
@media only screen and (min-width: 768px) {
    .advert-title {
        max-width: 704px;
        font-size: 64px;
        line-height: 1.09;
    }
    .current-green::before {
        max-width: none;
        width: 736px;
        left: -16px;
        right: -16px;
    }
}
@media only screen and (min-width: 1280px) {
    .advert-title {
        font-size: 76px;
        line-height: 1.05;
        max-width: 1054px;
        width: auto;
    }
    .current-green::before {
        max-width: none;
        width: 808px;
        left: -13px;
        right: -13px;
          }
}



