
.title-vegetables {
    font-size: 48px;
    line-height: 1.04167;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.accent-title-veg {
    color: rgba(251, 251, 251, 0.3);
}

.txt-vegetables {
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 0;
    text-transform: none;
    margin-bottom: 40px;
}

.container-card-veg {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-veg {
    border-radius: 40px;
    padding: 32px 26px;
    background-color: #fbfbfb;
}

.title-card-veg {
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.01em;
    color: #7a3145;
    text-transform: none;
    margin-bottom: 12px;
}

.price-veg {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #141414;
    margin-bottom: 14px;
}

@media screen and (min-width: 768px) {
    .title-vegetables {
        font-size: 64px;
        line-height: 1;
        margin-right: 196px;
        margin-bottom: 50px;
    }

    .txt-vegetables {
        font-size: 16px;
        line-height: 1.25;
        margin-right: 78px;
        margin-bottom: 50px;
    }

    .container-card-veg {
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 28px;
        column-gap: 20px;
    }

    .title-card-veg {
        font-size: 32px;
    }

    .price-veg {
        margin-bottom: 10px;
    }

    .card-veg {
        padding: 32px 30px;
    }
}

@media screen and (min-width: 1280px) {
    .title-vegetables {
        margin-right: 454px;
        margin-bottom: 25px;
    }

    .txt-vegetables {
        margin-right: 454px;
    }

    .container-card-veg {
        column-gap: 21px;
    }

    .card-veg {
        padding: 32px;
    }
}

