/*
:root {
  --text: #141414;
	--background: #576f35;
	--background-2: #7a3145;
	--main-text: #fbfbfb;
}
*/

body {
  font-family: "Inter Tight", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #141414; /* --text */

  background-color: #fbfbfb;

  /*
  min-width: 100vw;
  min-height: 100vh;
  */
  margin: 0;
}

h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: #fbfbfb;
}

h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: #fbfbfb;
}

h3 {
  font-weight: 600;
  color: #fbfbfb;
}

button {
  font-family:inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-align: center;
  color: #7a3145; /* --background-2 */

  border-radius: 30px;
  padding: 16px 0; /* по вертикалі - повторюється у всьому макеті, по горизонталі - задавати власноруч */
  background-color: #fbfbfb;
  border: none;
  
  cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Styles for Mobile devices */
.header-base {
  padding-top:20px;
}
.section-base {
  padding: 80px 0;
}
.footer-base {
  padding: 40px 0;
}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .header-base {
    padding-top:32px;
  }
  .section-base {
    padding: 100px 0;
  }
  .footer-base {
    padding: 32px 0;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
  .footer-base {
    padding: 50px 0;
  }
}
